name: Docs

on:
  workflow_dispatch:

jobs:
  docs:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      - name: Install R package
        run: |
          Rscript -e "install.packages('microbenchmark', repos='https://cloud.r-project.org')"

      - name: Install Pandoc
        run: sudo apt-get install pandoc

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[doc]

      - name: Build docs
        run: |
          jupyter-book build docs

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
